body {
    min-width: 400px;
}

h1 {
    text-align: center;
}

.user_config {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.toggle {
    margin: 0;
    padding: 0;
    justify-content: right;
    text-align: right;
}