body {
    min-width: 300px;
}

h1 {
    text-align: center;
}

.user_config {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.toggle {
    margin: 0;
    padding: 0;
    text-align: right;
    vertical-align: middle;
}